.footer{
    height: 229px;
    background: #046A86;
    display: flex;
    margin-top: 125px;
}
.footer_logo{
    border-radius: 50%;
    box-shadow: 0px 1px 75px 0px #5BE6F5;
    width: 113px;
    height: 113px;
    background-size:contain;
    background-color: #5BE6F5;   
    margin: auto 0;
    margin-left: 137px;
}
.footer_link > ul{
    display: flex;
    margin-top: 114.5px;
    transform: translateY(-50%);
    margin-left: 99px;
    gap: 137px;
}


.footer_link > ul > div > a > li{
    color: var(--text-with-background);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase; 
}

.footer_link > ul > div:not(.contact){
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact > li > span{
    font-size: 18px;      
}


.footer_link > ul > div  > li{
    color: var(--text-with-background);
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 4px;
}



.footer_link > ul > div > li:hover{
    cursor: pointer;
}
.footer_link > ul > div > li >  img{
    padding-right: 10px;
}

.groops{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 18px;  
} 

 .groops > a {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groops > a > img{
    width: 37px;
    height: 37px;
}


@media only screen and (max-width: 1690px) {
    .footer_logo{
        margin-left: 30px;
    }
    .footer_link > ul{
        margin-left: 60px;
        gap: 25px;
    }
    .groops > a > img{
        width: 30px;
        height: 30px;
    }

    .groops{
        padding-right: 16px; 
    } 

    .contact > li > span{
        font-size: 15px;      
    }
}

@media only screen and (max-width: 992px) {
    .footer{
        flex-direction: column;
        height: max-content;
        padding: 50px 8px;
    }

    .footer_logo{
        margin: 0 auto;
    }

    .footer_link > ul{
        justify-content: center;
        margin-top: 170px;
        margin-left: 0px;
        gap: 55px;
    }

}

@media only screen and (max-width: 768px) {
    .footer_link > ul {
        display:grid;
        grid-template-columns: auto auto;
        column-gap: 120px;
    }
}


@media only screen and (max-width: 576px) {
    .footer_link{
        height: 650px;
    }

    .footer_link > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 300px;
        gap: 17px;
    }

    .groops{
        justify-content: center;
    } 

}

