.footer{
    height: 229px;
    background: #046A86;
    display: flex;
    margin-top: 125px;
}
.footer_logo{
    border-radius: 50%;
    box-shadow: 0px 1px 75px 0px #5BE6F5;
    width: 113px;
    height: 113px;
    background-size:contain;
    background-color: #5BE6F5;   
    margin: auto 0;
    margin-left: 137px;
}
.footer_link > ul{
    display: flex;
    margin-top: 114.5px;
    transform: translateY(-50%);
    margin-left: 99px;
    gap: 137px;
}


.footer_link > ul > div > a > li{
    color: var(--text-with-background);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase; 
}

.footer_link > ul > div {
    display: flex;
    flex-direction: column;
    gap: 17px;
}


.footer_link > ul > div  > li{
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 4px;
}

.footer_link > ul > div > li:hover{
    cursor: pointer;
}
.footer_link > ul > div > li >  img{
    padding-right: 10px;
}

.groops{
    width: 205px;
   margin: auto;
   display: flex;
   gap: 8px;  
}

.groops > a{
    background-color: #3ba4af;
    padding: 8px;
    border-radius: 50%;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media only screen and (max-width: 768px) {
    footer {
        height: auto;
        flex-direction: column;
        margin-top: 30px;
    }

    .footer_logo {
        margin-left: 0;
    }

    .footer_link > ul {
        margin-top: 20px;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .groops {
        width: 100%;
        justify-content: center;
    }
} */

@media only screen and (max-width: 1690px) {
    .footer_logo{
        margin-left: 80px;
    }

    .footer_link > ul{
        gap: 90px;
    } 
    
    .groops{
        width: 550px; 
    }   
}

@media only screen and (max-width: 800px) {
    .footer{
        height: 200px;
    }

    .footer_logo{
        width: 70px;
        height: 70px;
        margin-left: 90px;
    }
    .footer_link > ul > div:not(.contact){
        display: none;
    }
    
    .footer_link > ul > div { 
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 10px;
    }

    .footer_link > ul > div  > li{
        font-size: 12px;      
    } 
}
