nav, .navbar, .nav-links{
  display: flex;
}

nav{
  margin-left: 100px;
}

.nav_logo{
  width: 221px;
  height: 221px;
  margin-top: 18px;
}

.navbar{
  gap: 122px;
  margin-left: 71px;
}

.nav-links{
  margin-top: 47px;
  gap: 56px;
  height: 22px;
}

.link{
  font-family: Open Sans;
  color: #056A86;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.activ::after {
  display: block;
  content: '';
   width: 115%;
   height: 3px;
   background: var(--button-color);
   position: absolute;
   border-radius: 1.5px;
   margin-top: 4px;
   left: -7.5%;
 }
 
 .activ {
  position: relative;  
 }

.sign-in{
  margin-top: 37px;
  width: 177px;
  height: 45px;
  border-radius: 24.5px;
  border: none;
  background: #1DB6E0;
  color: var(--text-with-background);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-links li:nth-child(5){
  margin-left: 21px;
}

.dropdown-image{ 
  position: absolute;
  top: 50%;
  margin-left: 12px;
  width: 9px;
  height: 4px;
  stroke-width: 2px;
  stroke: #056A86;
}

.menu{
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 27px;
}

.menu_cont.mobil_activ{
  width: 100%;
  background-color: #ccc;
}


 @media only screen and (max-width: 1820px) {

    nav{
      margin-left: 70px;
    }
    

  .nav_logo{
    width: 190px;
    height: 190px;
  }
    
  .navbar{
    gap: 80px;
    margin-left: 50px;
  }
    
  .nav-links{
    gap: 30px;
  }
           
  .sign-in{
    width: 150px;
  }

}


@media only screen and (max-width: 1520px) {
  nav{
    margin-left: 10px;
  }

  .nav_logo{
    width: 160px;
    height: 160px;
  }
    
  .navbar{
    gap: 20px;
    margin-left: 20px;
  }
    
  .nav-links{
    gap: 20px;
  }

  .link{
    font-size: 15px;  
  }
    
   
  .sign-in{
    width: 130px;
  }

  .nav-links li:nth-child(5){
    margin-left: 16px;
  }
    
  .dropdown-image{ 
    margin-left: 7px;
  }
}

@media only screen and (max-width: 1200px) { 

  .navbar, .nav-links, .nav-button, .sign-in{
    display: none;
  }

  .nav-links li:nth-child(5){
    margin-left: 0px;
  }
  
  nav{   
    display: flex;
    justify-content: space-between;
  }

  .menu{
    display: block;
    margin-right: 30px;
  }
  
  .menu_cont {
    width: 100%;
    text-align: center;
    display: flex;
    position: absolute;
    top: 150px;
    display: flex;
    justify-content: center;
    height: 490px;
    z-index: 1000;
    margin-left: -10px;
  }
    
    .mobile-menu .nav-links{
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 10px 0;
    }

    .menu-sign-in{
      margin-top: 37px;
      width: 177px;
      height: 45px;
      border-radius: 24.5px;
      border: none;
      background: #1DB6E0;    
      color: var(--text-with-background);
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }    
} 

@media only screen and (max-width: 768px) { 

  .nav_logo{
    width: 130px;
    height: 130px;
  }
} 

