nav, .navbar, .nav-links{
  display: flex;
}

nav{
  margin-left: 5.2vw;

}

.nav_logo{
  width: 13.6vw;
  height: 13.6vw; 
  margin-top: 18px;
}

.navbar{
  padding-left: 3.7vw;
  gap: 6.38vw;
 
}

.nav-links{
  margin-top: 47px;
  gap: 2.92vw;
  height: 22px;
}

.link{
  font-family: Open Sans;
  color: #056A86;
  font-size: 0.84vw;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.activ::after {
  display: block;
  content: '';
   width: 115%;
   height: 3px;
   background: var(--button-color);
   position: absolute;
   border-radius: 1.5px;
   margin-top: 4px;
   left: -7.5%;
   
 }
 
 .activ {
  position: relative;  
 }

.sign-in{
  margin-top: 37px;
  width: 20vh;
  height: 45px;
  border-radius: 24.5px;
  border: none;
  background: #1DB6E0;
  color: var(--text-with-background);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  
}

.nav-links li:nth-child(5){
  margin-left: 1.1vw;
}

.dropdown-image{ 
  position: absolute;
  top: 50%;
  margin-left: 0.6vw;
  stroke-width: 2px;
  stroke: #056A86;
}

.menu{
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 27px;
}

.menu_cont.mobil_activ{
  width: 100vw;
  background-color: #ccc;
  /* margin-left: -43px; */
}

@media only screen and (max-width: 1610px) {
  nav{
    margin-left: 4.2vw;
  }

  .nav_logo{
    width: 12vw;
    height: 12vw; 
  }
    
  .navbar{
    padding-left: 2.7vw;
    gap: 5.38vw;
  }
    
  .nav-links{
    gap: 1.92vw;
  }

  .link{
    font-size: 1vw;
  }
    
  .dropdown-image{ 
    margin-left: 0.5vw;
    width: 9px;

  }
}

@media only screen and (max-width: 1200px) { 

  .navbar,  .nav-button, .sign-in{
    display: none;
  }

  .nav-links{
    height: 350px;
  }

  .link{
    font-size: 2vw;
  }

  .nav-links li:nth-child(5){
    margin-left: 0px;
  }
  
  nav{   
    display: flex;
    justify-content: space-between;
  }

  .menu{
    display: block;
    margin-right: 30px;
  }

  .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .menu_cont {
    width: 100vw;
    text-align: center;
    display: flex;
    position: absolute;
    top: 150px;
    left: 0px;
    display: flex;
    justify-content: center;
    height: 590px;
    z-index: 1000;
    /* margin-left: -10px; */
  }
    
    .mobile-menu .nav-links{
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 10px 0;

    }

    .menu-sign-in{
      width: 177px;
      height: 45px;
      border-radius: 24.5px;
      border: none;
      background: #1DB6E0;    
      color: var(--text-with-background);
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }    
} 

@media only screen and (max-width: 768px) { 

  .nav_logo{
    width: 130px;
    height: 130px;
  }

  .link{
    font-size: 2.5vw;
  }
} 

@media only screen and (max-width: 576px) { 

  .link{
    font-size: 15px;
  }
} 