nav, .navbar, .nav-links{
  display: flex;
}

nav{
  margin: 0 100px;
}

.nav_logo{
  width: 221px;
  height: 221px;
  margin-top: 18px;
}

.navbar{
  gap: 122px;
  margin-left: 71px;
}

.nav-links{
  margin-top: 47px;
  gap: 56px;
  height: 22px;
}

.link{
  color: #056A86;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.activ{
  border-bottom: 2px solid #FF6B00;
}

.sign-in{
  margin-top: 37px;
  width: 177px;
  height: 45px;
  border-radius: 24.5px;
  border: none;
  background: #1DB6E0;

  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-links li:nth-child(5){
  margin-left: 21px;
}

.dropdown-image{ 
  position: absolute;
  top: 50%;
  margin-left: 12px;
  width: 9px;
  height: 4px;
  stroke-width: 2px;
  stroke: #056A86;
}

  .menu{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 27px;
    margin-left: 35px;
  }

  @media only screen and (max-width: 1804px) {    
    .navbar{
      gap: 70px;
    }
}


  @media only screen and (max-width: 500px) {
    nav{
      margin: 0 20px;
      gap: 50px;
    }
    .nav_logo{
        width: 140px;
        height: 140px;
        margin-top: 10px;
    }  
    
     .nav-links{
        display: none;
      }

      .menu{
       display: block;
       position: relative;
      }

      .sign-in{
          margin-top: 27px;
          width: 100px;
          height: 35px;
          font-size: 14px;
          margin-left: -30px;
      }
    
      .menu_cont {
        display: flex;
        position: absolute;
        top: 100px;
        left: 100px;
        height: 370px;
        background-color: #ccc;
        z-index: 10;
        padding: 10px 0;
      }
      
      .mobile-menu .nav-links{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 10px 0;
      }

      .nav-links li:nth-child(5){
        margin-left: 0;
      }
     
}