header{
    display: flex;
    justify-content: space-around;
}

.logo{
    background: url("../images/logo.png");
    width: 221px;
    height: 221px;
    margin-left: 100px;
    margin-top: 18px;
}

.navLinks{
    margin-left: 71px;
    margin-top: 47px;
    gap: 56px;
    display: flex;   
}

.link{
    text-decoration: none;
    width: 50px;
    height: 22px;
    color: #056A86;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.activ{
    border-bottom: 2px solid #FF6B00;
}
.SignIn{
    width: 177px;
    height: 45px;
    border-radius: 24.5px;
    background: #1DB6E0;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: -10px;
    border: none;
    cursor: pointer;
}

.dropdown-image{
    width: 9px;
    height: 4px;
    margin-left: 12px;
    font-weight: 800;
}


.dropdown-content {
    position: absolute;
    left: 45%;
    top: 50px;
    border: 1px solid #1DB6E0; 
  }
  
  .dropdown-link {
    text-decoration: none;
    display: inline;
    padding: 0 25px;
    color: gray;
    font-weight: 600;
    font-size: 20px;
  }

  .dropdown-link:hover{
    color: #1DB6E0
  }









  
  

