:root {
    --header-color: #0085AE;
    --part1-text-color: #484848;
    --text-color: #646464;
    --button-color: #FF6B00;
    --text-with-background: #FFF;
    --background: #FFF;
    --organ-h: #005889;

    --organ-cont-height: 114.5px;
    --line-height: 150%;
  }