.footer{
    height: 229px;
    background: #046A86;
    display: flex;
    margin-top: 125px;
}
.footer_logo{
    background-image: url("../Plans/images/logo.png");
    border-radius: 50%;
    box-shadow: 0px 1px 75px 0px #5BE6F5;
    width: 113px;
    height: 113px;
    background-size:contain;
    background-color: #5BE6F5;   
    margin: auto 0;
    margin-left: 137px;
}
.footer_link > ul{
    display: flex;
    margin-top: 114.5px;
    transform: translateY(-50%);
    margin-left: 99px;
    gap: 137px;
}
.footer_link > ul > div > a{
    list-style: none;
    text-decoration: none;
}
.footer_link > ul > div > a > li{
    color: var(--text-with-background);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px;
}
.footer_link > ul > div  > li{
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 4px;
}
.footer_link > ul > div > li:hover{
    cursor: pointer;
}
.footer_link > ul > div > li >  img{
    padding-right: 10px;
}
.groops{
   margin: auto;
   display: flex;
   gap: 8px;
}
.groops > a{
    background-color: #3ba4af;
    padding: 8px;
    border-radius: 50%;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
