header, nav{
    display: flex;
}

.nav_logo{
    width: 221px;
    height: 221px;
    margin-left: 100px;
    margin-top: 18px;
    margin-right: 71px;
}

.nav-links{
    margin-top: 47px;
    display: flex;  
    gap: 56px;    
}

.link{
    text-decoration: none;
    width: 50px;
    height: 22px;
    color: #056A86;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.activ{
    border-bottom: 2px solid #FF6B00;
}
.sign-in{
    width: 177px;
    height: 45px;
    border-radius: 24.5px;
    background: #1DB6E0;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 37px;
    border: none;
    cursor: pointer;
    margin-left: 122px;
}

.dropdown-image{
    width: 9px;
    height: 4px;
    margin-left: 12px;
}


.dropdown-content {
    border: 1px solid #1DB6E0; 
    margin-top: 3px;
  }
  
  .dropdown-link {
    text-decoration: none;
    display: block;
    padding: 10px 25px;
    color: gray;
    font-weight: 600;
    font-size: 20px;
  }

  .dropdown-link:hover{
    color: #1DB6E0
  }










  
  

