/* body{
    width: 1920px;
    background: linear-gradient(0deg, rgba(176, 239, 248, 0.11) 0%, rgba(176, 239, 248, 0.11) 100%), #FFF;
} */
.bookFreeCall{
    width: 420px;
    height: 73px;
    background-color: #FF6B00;
    border: none;
    border-radius: 36.5px;
    text-align: center;
    color: #FFF;
    font-family: Open Sans;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

