@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

/* body{
    width: 1920px;
} */

.book_free_call{
    width: 420px;
    height: 73px;
    border-radius: 36.5px;
    box-shadow: -4px 5px 21px 0px rgba(0, 0, 0, 0.15);
    background-color: #FF6B00;
    border: none;

    text-align: center;
    color: #FFF;
    font-family: Open Sans;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
}
  
:root {
    --header-color: #0085AE;
    --part1-text-color: #484848;
    --text-color: #646464;
    --button-color: #FF6B00;
    --text-with-background: #FFF;
    --background: #FFF;
    --organ-h: #005889;

    --organ-cont-height: 114.5px;
    --line-height: 150%;
  }