.book_free_call{
    width: 420px;
    height: 73px;
    background-color: #FF6B00;
    border: none;
    border-radius: 36.5px;
    text-align: center;
    color: #FFF;
    font-family: Open Sans;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

