.part_header{
    display: flex;
}

.part_header_left_side{
    margin-left: 100px;
}

.part_header_left_side_h{
    max-width: 954px;
    color: var(--header-color);
    text-shadow: 0px 0px 28px rgba(255, 255, 255, 0.48);
    font-family: 'Open Sans'; 
    font-size: 56px;
    font-weight: 800;
    line-height: 150%; 
    letter-spacing: 5.04px;
    text-transform: uppercase;
    margin-top: 213px;
}

.part_header_left_side_card{
    display: block;
    max-width: 791px;
    height: 185px;
    border-radius: 44px;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: -10px 10px 44px 0px rgba(52, 189, 227, 0.16);
    backdrop-filter: blur(6px);
    margin-top: 50px;
}

.part_header_left_side_card_text{
    display: block;
    max-width: 832px;
    height: 121px; 
    margin-left: 38px;
    padding-top: 32px;
}

.part_header_left_side_card_text  span{
    color: #484848;
    text-shadow: 0px 4px 29px rgba(255, 255, 255, 0.25);
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 500;
    line-height: 170%;
    display: block; 
}

.part_header_left_side_card_text >  span:nth-child(2){
    font-size: 40px;
}

.header_button{
    margin-top: 50px;
}

.part_header_img{
    max-width: 1920px;
    height: 800px;
    margin-top: -62px;
    border-radius: 44px;
    object-fit: cover;
    position: absolute;
    left: 830px;
    z-index: -1;  
} 

.header_background_img1{
    position: absolute;
    z-index: -10;
    top: 530px;
    left: 138px;
}

.header_background_img2{
    position: absolute;
    z-index: -10;
    top: 670px;
    left: 727px;
}

.ellipseHeader{
    max-width: 549px;
    height: 453px;
    transform: rotate(-24.641deg);
    
    border-radius: 548.9px;
    background: rgba(255, 153, 135, 0.18);
    filter: blur(176.5px);
    position: absolute;
    z-index: -2;
    top: 209px;
    left: 280px;
}

@media only screen and (max-width: 1820px) {      
    .part_header_left_side{
        margin-left: 70px;
    }
    
    .part_header_left_side_h{
        /* width: 854px; */
        font-size: 46px;
    }
    
    .part_header_left_side_card{
        /* width: 691px; */
        height: 175px;
    }
    
    .part_header_left_side_card_text{
        /* width: 732px; */
        padding-top: 22px;
    }
    
    .part_header_left_side_card_text  span{
        font-size: 32px;
    }
    
    .part_header_left_side_card_text >  span:nth-child(2){
        font-size: 30px;
    }

    .header_button .book_free_call{
        /* width: 320px; */
        font-size: 20px;
    }
    
    .right-side{
        max-width: 1820px;
    }

    .part_header_img{
        object-fit: contain;
        left: 700px;
    } 
    
    .header_background_img1{
        top: 490px;
    }
    
    .header_background_img2{
        top: 670px;
        left: 587px;
    }
}
  
  
/* @media only screen and (max-width: 1520px) {   
  
    .part_header_left_side{
        margin-left: 40px;
    }
    
    .part_header_left_side_h{
        width: 754px;
        font-size: 33px;
    }
    
    .part_header_left_side_card{
        width: 531px;
        height: 135px;
    }
    
    .part_header_left_side_card_text{
        width: 632px;
        padding-top: 15px;
    }
    
    .part_header_left_side_card_text  span{
        font-size: 28px;
    }
    
    .part_header_left_side_card_text >  span:nth-child(2){
        font-size: 25px;
    }

    .header_button .book_free_call{
        width: 220px;
        font-size: 15px;
        height: 53px;
    }
    
    .part_header_img{
        object-fit: contain;
        left: 530px;
    } 
    
    .header_background_img1{
        top: 450px;
    }
    
    .header_background_img2{
        top: 570px;
        left: 427px;
    }
} */

/* @media only screen and (max-width: 1280px) {   
    
    .part_header_left_side_h{
        width: 654px;
        font-size: 28px;
    }
    
    .part_header_left_side_card{
        width: 451px;
    }
    
    .part_header_left_side_card_text{
        width: 532px;
        padding-top: 18px;
    }
    
    .part_header_left_side_card_text  span{
        font-size: 25px;
    }
    
    .part_header_left_side_card_text >  span:nth-child(2){
        font-size: 23px;
    }
    
    .part_header_img{
        object-fit: contain;
        left: 430px;
    } 
    
    .header_background_img1{
        top: 400px;
        left: 108px;
    }
    
    .header_background_img2{
        top: 510px;
        left: 327px;
    }
} */

/* @media only screen and (max-width: 1024px) {   
  
    .part_header_left_side{
        margin:  0 auto;
    }
    
    .part_header_left_side_h{
        font-size: 45px;
    }
    
    .part_header_left_side_card{
        width: 651px;
        height: 175px;
    }
    
    .part_header_left_side_card_text{
        width: 632px;
        padding-top: 25px;
    }
    
    .part_header_left_side_card_text  span{
        font-size: 30px;
    }
    
    .part_header_left_side_card_text >  span:nth-child(2){
        font-size: 25px;
    }

    .header_button .book_free_call{
        width: 280px;
        font-size: 18px;
        height: 63px;
    }
    
    .part_header_img{
        object-fit: contain;
        left: 0px;
    } 
    
    .header_background_img1, .header_background_img2, .ellipseHeader{
        display: none;
    }
    
} */

/* @media only screen and (max-width: 768px) {   
  
    .part_header_left_side{
        margin:  0 auto;
    }
    
    .part_header_left_side_h{
        font-size: 25px;
    }
    
    .part_header_left_side_card{
        width: 251px;
        height: 125px;
    }
    
    .part_header_left_side_card_text{
        width: 280px;
        margin-left: 10px;
        padding-top: 20px;
    }
    
    .part_header_left_side_card_text  span{
        font-size: 20px;
    }
    
    .part_header_left_side_card_text >  span:nth-child(2){
        font-size: 17px;
    }

    .header_button .book_free_call{
        width: 180px;
        font-size: 15px;
        height: 53px;
    }
    
    .part_header_img{
        max-width: 768px;
        object-fit: contain;
        left: 0px;
    } 
    
    .header_background_img1, .header_background_img2, .ellipseHeader{
        display: none;
    }
    
} */