.part_program{
    margin-top: 320px;
    position: relative;
}

.part_program > h2{
    max-width: 1563px;
    color: var(--header-color);
    text-align: center;
    text-shadow: 0px 0px 28px rgba(255, 255, 255, 0.48);
    font-family: Open Sans;
    font-size: 44px;
    font-weight: 800;
    line-height: var(--line-height); 
    letter-spacing: 3.96px;
    text-transform: uppercase;
    margin: 0 auto;
}

.part_program > p{
    color: var(--text-color);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: var(--line-height);
    margin: 72px 0 87px 0px;
    display: flex;
    justify-content: center;
    margin-right: 17px;
}

.part_program_info{
    margin: 50px 0;
    width:min-content;
    cursor: pointer;
}

.part_program_info_header{
    border-radius: 0 100px 100px 0;
    background: linear-gradient(162deg, #D7FBFF 28.4%, #7BE0FF 91.32%);   
    box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(6px); 
    display: flex;
    width:fit-content;
}

.part_program_info_header_img{
    margin: auto;
    padding: 0 40px;
    margin-left: 50px;
}

.part_program_info_header > img{
    width: 20px;
    height: 10px;
}

.part_program_info_header > h3{
    width:max-content;
    color: var(--organ-h);
    font-size: 40px;
    font-weight: 700;
    line-height: var(--line-height); 
    margin-left: 100px;
    padding: 25px 0; 
}

.part_program_info_hiden{
    border-radius: 0px 0px 86px 0px;
    background: #C7F6FF;
    box-shadow: -4px -4px 16px 0px rgba(0, 133, 174, 0.19) inset;
    margin-top: -40px;
}

.part_program_info_hiden > p{
    padding-left: 100px;
    padding-right: 60px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    line-height: var(--line-height); 
}

.part_program_info_hiden p:first-of-type{
    padding-top: 90px;
}

.part_program_info_hiden p:last-of-type{
    padding-bottom: 30px;
    padding-top: 18px;
}

.part_program_info_hiden > button{
    margin-left: 100px;
    margin-bottom: 50px;
}

.part_program_info_header_img.rotate > img {
    transform: rotateX(180deg); 
    transition: transform 0.3s ease; 
  }

.program_background_img{
    object-fit: contain;
    position: absolute;
    z-index: -10;
    top: 220px;
    right: 0;
}

@media only screen and (max-width: 1610px) { 
    .part_program > h2{
        max-width: 1063px;
        font-size: 29px;
        letter-spacing: 2px;
    }

    .part_program > p{
        font-size: 25px;
    }

    .part_program_info_header_img{
        padding: 0 20px;
        margin-left: 30px;
    }
    
    .part_program_info_header > h3{
        font-size: 25px;
    } 

    .part_program_info_hiden > p{
        padding-left: 30px;
        padding-right: 20px;
        font-size: 15px;
        line-height: 130%; 
    }
    
    .part_program_info_hiden > button{
        margin-left: 30px;
        margin-bottom: 40px;
        padding: 17px 44px;
        font-size: 19px;
    }
}

@media only screen and (max-width: 992px) { 
    .part_program{
        margin-top: 120px;
    }
    .part_program > h2{
        max-width: 576px;
        font-size: 25px;
        letter-spacing: 1px;
    }

    .part_program > p{
        font-size: 20px;
    }

    .part_program_info_header_img{
        padding: 0 10px;
        margin-left: 10px;
    }

    .part_program_info_header_img img{
        width: 20px;
    }
    
    .part_program_info_header > h3{
        font-size: 20px;
        padding: 20px 0; 
        margin-left: 30px;
    } 

    .part_program_info_hiden > p{
        padding-left: 20px;
        padding-right: 10px;
    }
    
    .part_program_info_hiden > button{
        padding: 17px 24px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 576px) { 
    .part_program{
        margin-top: 60px;
    }

    .part_program > h2{
        max-width: 300px;
        font-size: 20px;
        letter-spacing: 0px;
    }

    .part_program > p{
        font-size: 15px;
    }

    .part_program_info{
        margin: 20px 0;
    }

    .part_program_info_header_img{
        padding: 0 3px;
        margin-left: 5px;
    }

    .part_program_info_header_img img{
        width: 10px;
    }
    
    .part_program_info_header > h3{
        font-size: 13px;
        padding: 20px 0; 
        margin-left: 5px;
    } 

    .part_program_info_hiden > p{
        padding-left: 10px;
        padding-right: 5px;
        font-size: 12px;
        line-height: 130%; 
    }
    
    .part_program_info_hiden > button{
        margin-left: 10px;
        padding: 10px 14px;
        font-size: 10px;
    }
    
    .program_background_img{
       display: none;
    }
}