.part_disease{
    margin-top: 436px;
}

.part_disease h2{
    margin-left: 522px;
    display: flex;
    width: 877px;
    height: 60px;
    flex-direction: column;
    justify-content: center;

    color: var(--header-color);
    text-shadow: 0px 0px 28px rgba(255, 255, 255, 0.48);
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 800;
    line-height: 150%; 
    letter-spacing: 4px;
    text-transform: uppercase;
}

.part_disease_organ1_cont{
    width: 930.952px;
    height: 114.433px;

    border-radius: 44px;
    border: 3px solid #57E8F6;
    background: var(--background);
    box-shadow: -10px 10px 44px 0px rgba(52, 189, 227, 0.16);
    backdrop-filter: blur(6px);
    margin-left: 473px;
    margin-top: 135px;
    position: relative;
}

.part_disease_organ1_cont img{
    margin-top: 49px;
    margin-left: 275px;
}

.organ1_img{
    width: 120px;
    height: 120px;
    object-fit:fill;
    position: absolute;
    z-index: 3;
    left: 444px;
    top: 2607px
}

.part_disease_organ2_cont, .part_disease_organ3_cont, .part_disease_organ4_cont{
    border-radius: 30px;
    background: var(--background);
    box-shadow: -10px 10px 44px 0px rgba(52, 189, 227, 0.16);
    backdrop-filter: blur(6px);
    height: 114.433px;
}

.part_disease_organ{
    display: flex;
}
.part_disease_organ2_cont{
    width: 440.525px;
    margin-left: 368px;
    margin-top: 110px;
}
.part_disease_organ2_cont img{
    margin-left: 36px;
    margin-top: 45px;
}

.organ2_img{
    width: 87.7px;
    height: 87.7px;
    position: absolute;
    z-index: 3;
    top: 2824px;
    left: 325px;
}

.organ3_img{
    width: 87.7px;
    height: 87.7px;
    position: absolute;
    z-index: 3;
    top: 2830px;
    left: 1090px;
}

.part_disease_organ3_cont{
    width: 478.382px;
    margin-left: 324px;
    margin-top: 116px;
}

.part_disease_organ3_cont img{
    margin-left: 44.6px;
    margin-top: 52px;
}

.part_disease_organ4_cont{
    width: 277.049px;
    margin-top: 101px;
    margin-left: 930px;
}

.part_disease_organ4_cont img{
    margin-left: 89px;
    margin-top: 52px;
}

.organ4_img{
    width: 87.7px;
    height: 87.7px;
    position: absolute;
    z-index: 3;
    top: 3045px;
    left: 887px;
}

.dashed1, .dashed2, .dashed3{
    stroke-width: 1.5px;
    border:1px dashed rgba(0, 88, 137, 0.60);
    position: absolute;
    z-index: -1;
}

.dashed1{
    width: 368.681px;
    height: 223.704px;

    left: 241px;
    top: 2702px;
    border-right-color: transparent;
}

.dot1, .dot2, .dot3{
    width: 13.766px;
    height: 13.766px;
    position: absolute;
    z-index: 5;
}

.dot1{
    margin-left: 362px;
    margin-top: 160px;
}

.dot2{
    margin-left: 1604px;
    margin-top: 168px;
}

.dot3{
    margin-left: 925px;
    margin-top: 158px;
}

 .dashed2{
    width: 298.989px;
    height: 230.587px;
    
    left: 1378px;
    top: 2705px;
    border-left-color: transparent;

}

.dashed3{
    width: 85.5px;
    height: 395.784px;

    left: 840px;
    top: 2759px;
    border-right-color: transparent;
    border-top-color: transparent;
} 


@media only screen and (max-width: 500px) {  
    .part_disease{
        margin-top: 736px;
        width: 400px;
        margin-left: 50px;
    }
    
    .part_disease h2{
        margin-left: 0px;
        width: 410px;
        height: 40px;
        font-size: 25px;
        line-height: 130%; 
        letter-spacing: 2px;
        text-align: center;
    }
    
    .part_disease_organ1_cont{
        width: 300px;
        height: 50px;
    
        border-radius: 22px;
        border: 2px solid #57E8F6;
        margin-left: 0px;
        margin-top: 100px;
        margin-left: 45px;
    }
    
    .part_disease_organ1_cont img{
        margin-top: 15px;
        margin-left: 50px;
        width: 200px;
    }
    
    .organ1_img{
        width: 50px;
        height: 50px;
        top: 1650px
    }
    
    .part_disease_organ2_cont, .part_disease_organ3_cont, .part_disease_organ4_cont{
        border-radius: 22px;
        height: 50px;
        width: 300px;
        margin-left: 45px;
        margin-top: 30px;
    }
    
    .part_disease_organ{
        display: block;
    }
    .part_disease_organ2_cont{
        width: 300px;
        margin-left: 45px;
        margin-top: 30px;
    }
    .part_disease_organ2_cont img, .part_disease_organ3_cont img{
        margin-top: 15px;
        margin-left: 50px;
        width: 200px;
    }

    .part_disease_organ4_cont img{
        margin-top: 15px;
        margin-left: 50px;
        width: 100px;
    }
    
    .organ1_img, .organ2_img, .organ3_img, .organ4_img{
        width: 50px;
        height: 50px;
        left: 70px;
    }

    .organ2_img{
        top: 1730px;
    }
    
    .organ3_img{
        top: 1810px;
    }
    
    .part_disease_organ4_cont img{
        margin-left: 89px;
    }
    
    .organ4_img{
        top: 1890px;
        
    }
    
    .dashed1, .dashed2, .dashed3{
        display: none;
    }   

    .dot1, .dot2, .dot3{
        display: none;
    }
} 