.part_header{
    display: flex;
}

.part_header_left_side{
    margin-left: 100px;
}
.part_header_left_side_h{
    width: 954px;
    color: var(--header-color);
    text-shadow: 0px 0px 28px rgba(255, 255, 255, 0.48);
    font-family: 'Open Sans'; 
    font-size: 56px;
    font-weight: 800;
    line-height: 150%; 
    letter-spacing: 5.04px;
    text-transform: uppercase;
    margin-top: 213px;
}

.part_header_left_side_card{
    display: block;
    width: 791px;
    height: 185px;
    border-radius: 44px;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: -10px 10px 44px 0px rgba(52, 189, 227, 0.16);
    backdrop-filter: blur(6px);
    margin-top: 50px;
}

.part_header_left_side_card_text{
    display: block;
    width: 832px;
    height: 121px; 
    margin-left: 38px;
    padding-top: 32px;
}

.part_header_left_side_card_text  span{
    color: #484848;
    text-shadow: 0px 4px 29px rgba(255, 255, 255, 0.25);
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 500;
    line-height: 170%;
    display: block; 
}

.part_header_left_side_card_text >  span:nth-child(2){
    font-size: 40px;
}

.header_button{
    margin-top: 50px;
}

.part_header_img{
    width: 1090px;
    height: 800px;
    margin-top: -62px;
    border-radius: 44px;
    object-fit: cover;
    position: absolute;
    left: 830px;
    z-index: -1;  
} 

.header_background_img1{
    position: absolute;
    z-index: -10;
    top: 530px;
    left: 138px;
}

.header_background_img2{
    position: absolute;
    z-index: -10;
    top: 670px;
    left: 727px;
}

.ellipseHeader{
    width: 548.9px;
    height: 453.466px;
    transform: rotate(-24.641deg);
    
    border-radius: 548.9px;
    background: rgba(255, 153, 135, 0.18);
    filter: blur(176.5px);
    position: absolute;
    z-index: -2;
    top: 209px;
    left: 280px;
}


@media only screen and (max-width: 1650px) {  
    .part_header_img{
        left: 600px; 
        width: 1000px;
    } 
    .ellipseHeader{
        display: none;
    }
    .header_background_img1, .header_background_img2{
        display: none;
    }  
}

@media only screen and (max-width: 1448px) {   
    .part_header_img{
        left: 200px; 
    }   

    .part_header_left_side{
        margin-left: 250px;
    }

}


@media only screen and (max-width: 1200px) {
    .part_header_img{
        left: 30px; 
    } 
    .part_header_left_side{
        margin-left: 80px;
    }
}

@media only screen and (max-width: 1030px) {
    .part_header_img{
        width: 900px;
        height: 900px; 
        object-fit:contain;
    } 
    .header_background_img1, .header_background_img2{
        display: none;
    }
}

@media only screen and (max-width: 870px) {
    
    .part_header_img{
        width: 600px;
        height: 600px; 
        margin-left: 100px;
    } 
    .part_header_left_side_h{
        width: 200px;
        font-size: 40px;
        font-weight: 800;
        line-height: 130%; 
        letter-spacing: 3px;
        margin-top: 70px;
    }

    .part_header_left_side{
        margin-left: 150px;
    }
    .part_header_left_side_card{
        display: block;
        width: 400px;
        height: 155px;
        margin-top: 20px;
    }
    .part_header_left_side_card_text{
        width: 400px;
        height: 90px; 
        margin-left: 38px;
    }
    .part_header_left_side_card_text  span{
        font-size: 32px;
        font-weight: 500;
        line-height: 110%;
    }
    .part_header_left_side_card_text >  span:nth-child(2){
        font-size: 30px;
    }
    
    .header_button{
        margin-top: 50px;
    }
    .header_button{
        display: flex;
        justify-content: center;
    }
    .header_button > .book_free_call{
        width: 300px;
        font-size: 20px;
        height: 50px;
    }
}


@media only screen and (max-width: 730px) {     
    .part_header_left_side{
        margin-left: 40px;
    }  
    .part_header_img{
        width: 500px;
        object-fit:contain;
        left: -60px;
    } 
    .header_button{
        margin-top: 10px;
    }

}

@media only screen and (max-width: 540px) {     
    .part_header_left_side{
        margin-left: 30px;
    }  
    .part_header_img{
        width: 440px;
        object-fit:contain;
        left: -80px;
    } 

    .part_header_left_side_h{
        font-size: 30px; 
        margin-top: 110px;
    }

    .part_header_left_side_card{
        width: 250px;
        height: 100px;
        margin-top: 10px;
    }
    .part_header_left_side_card_text{
        width: 200px;
        margin-left: 10px;
    }
    .part_header_left_side_card_text  span{
        font-size: 28px;
        margin-top: -20px;
        margin-bottom: 15px;
    }
    .part_header_left_side_card_text >  span:nth-child(2){
        font-size: 25px;
    }
    
    .header_button{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 400px) {     
    .part_header_img{
        left: -100px;
    } 
}


