
.part_form{
    margin: 0 auto;
    margin-top: 271px;
    width: 917px;
    height: 891px;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: -10px 10px 44px 0px rgba(52, 189, 227, 0.16);
    backdrop-filter: blur(6px);
}

.part_form > h2{
    display: flex;
    width: 605px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    color: var(--header-color);
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    line-height: var(--line-height);
    letter-spacing: 5.7px;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 60px;
}

.part_form > p{
    width: 640px;
    height: 76px;
    color: var(--text-color);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: var(--line-height); 
    margin: 27px auto;
}

.part_form > p > span{
    color: #025C75;
    font-size: 26px;
    font-weight: 600;
    line-height: var(--line-height);
}

.part_form > form{
    display: flex;
    flex-direction: column;
}

.part_form> form > label{
    color: #025C75;
    font-size: 22px;
    font-weight: 600;
    margin-left: 101px;
}

.part_form > form > input, select{
    width: 715px;
    height: 47px;
    border-radius: 10px;
    border: 1px solid #046A86;
    background: var(--background);
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 18px;
    padding-left: 5px;

}

.part_form > form > select {
    color: #046A86;
    background: url('path-to-your-arrow-icon.png') no-repeat scroll right center transparent;
    padding-right: 80px; 
}

.part_form > form > select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #046A86;
    background: url('../../assets/images/drop.png') no-repeat scroll calc(100% - 17px)  center transparent;
    background-size: 14px 9px;
}

.part_form > form > button{
    width: 420px;
    height: 73px;
    border-radius: 36.5px;
    background: var(--button-color);
    box-shadow: -4px 5px 21px 0px rgba(0, 0, 0, 0.15);
    color: var(--text-with-background);
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin: 0 auto;
    margin-top: 19px;

}

.form_background_img1{
    position: absolute;
    z-index: -10;
    top: 7829px;
    left: 1291px;
}

.form_background_img2{
    position: absolute;
    z-index: -10;
    top: 8779px;
    left: 351px;
} 

@media only screen and (max-width: 1720px) {
    .part_form_cont{
        width: 1720px;
    }
}

@media only screen and (max-width: 1570px) {
    .part_form_cont{
        width: 1570px;
    }

    .form_background_img1{
        display: none;
    }
}

@media only screen and (max-width: 1400px) {
    .part_form_cont{
        width: 1400px;
    }

    .form_background_img2{
        display: none;
    }
}

@media only screen and (max-width: 1270px) {
    .part_form_cont{
        width: 1270px;
    }
}

@media only screen and (max-width: 1150px) {
    .part_form_cont{
        width: 1150px;
    }

    .part_form{
        margin-top: 171px;
        width: 717px;
        height: 761px;
    }
    
    .part_form > h2{
        /* width: 605px; */
        /* height: 45px; */
        /* text-align: center; */
        font-size: 25px;
        letter-spacing: 3px;
        /* text-transform: uppercase; */
        /* margin: 0 auto; */
        /* padding-top: 60px; */
    }
    
    .part_form > p{
        width: 600px;
        /* height: 76px; */
        font-size: 18px;
        margin: 25px auto;
    }
    
    .part_form > p > span{
        font-size: 20px;
    }
    
    
    .part_form> form > label{
        font-size: 20px;
        margin-left: 55px;
    }
    
    .part_form > form > input, select{
        width: 615px;
        height: 37px;
        /* border-radius: 10px; */
        /* margin-bottom: 16px; */
        font-size: 15px;
        /* padding-left: 5px;  */
    }
    
    .part_form > form > select {
        padding-right: 60px; 
    }
    
    .part_form > form > select {
        background-size: 10px 7px;
    }
    
    .part_form > form > button{
        width: 320px;
        /* height: 73px;
        font-size: 29px;
        margin-top: 19px; */
    
    }
}

@media only screen and (max-width: 1050px) {
    .part_form_cont{
        width: 1050px;
    }
}

@media only screen and (max-width: 940px) {
    .part_form_cont{
        width: 940px;
    }
}

@media only screen and (max-width: 840px) {
    .part_form_cont{
        width: 840px;
    }
}

@media only screen and (max-width: 790px) {
    .part_form_cont{
        width: 790px;
    }

    .part_form{
        width: 400px;
        height: 600px;
    }
    
    .part_form > h2{
        width: 400px;
        font-size: 20px;
        letter-spacing: 3px;
        padding-top: 40px;
    }
    
    .part_form > p{
        width: 400px;
        font-size: 15px;
        margin: 20px auto;
    }
    
    .part_form > p > span{
        font-size: 18px;
    }
    
    
    .part_form> form > label{
        font-size: 18px;
        margin-left: 22px;
    }
    
    .part_form > form > input, select{
        width: 370px;
        height: 30px;
    }
    
    .part_form > form > button{
        width: 290px;
        height: 53px;
        font-size: 20px;
 
    }
}

@media only screen and (max-width: 690px) {
    .part_form_cont{
        width: 690px;
    }
}

@media only screen and (max-width: 600px) {
    .part_form_cont{
        width: 600px;
    }
}

@media only screen and (max-width: 530px) {
    .part_form_cont{
        width: 530px;
    }
}

@media only screen and (max-width: 420px) {
    .part_form_cont{
        width: 410px;
    }
}

@media only screen and (max-width: 390px) {
    .part_form_cont{
        width: 390px;
    }
}


