.part_header{
    display: flex;
}
.part_header_left_side{
    margin-left: 100px;
}
.part_header_left_side_h{
    width: 954px;
    color: var(--header-color);
    text-shadow: 0px 0px 28px rgba(255, 255, 255, 0.48);
    font-family: Open Sans;
    font-size: 56px;
    font-weight: 800;
    line-height: 150%; 
    letter-spacing: 5.04px;
    text-transform: uppercase;
    margin-top: 213px;
}

.part_header_left_side_card{
    display: block;
    width: 791px;
    height: 185px;
    border-radius: 44px;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: -10px 10px 44px 0px rgba(52, 189, 227, 0.16);
    backdrop-filter: blur(6px);
    margin-top: 50px;
}

.part_header_left_side_card_text{
    display: block;
    width: 832px;
    height: 121px; 
    margin-left: 38px;
    padding-top: 32px;
}

.part_header_left_side_card_text  span{
    color: #484848;
    text-shadow: 0px 4px 29px rgba(255, 255, 255, 0.25);
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 500;
    line-height: 170%;
    display: block; 
}

.part_header_left_side_card_text >  span:nth-child(2){
    font-size: 40px;
}

.header_button{
    margin-top: 50px;
}

.part_header_img{
    height: 800px;
    margin-top: -62px;
    border-radius: 44px;
    object-fit: cover;
    position: absolute;
    left: 830px;
    z-index: -1;
    
} 

/* .part1{
    display: flex;
}

.part1_left_side_h{
    width: 954px;
    margin-top: 213px;
    color: var(--header-color);
    text-shadow: 0px 0px 28px rgba(255, 255, 255, 0.48);
    font-size: 56px;
    font-weight: 800;
    line-height: 150%; 
    letter-spacing: 5.04px;
    text-transform: uppercase;
}

.part1_left_side{
    margin-left: 100px;
}

.book_free_call{
    margin-top: 50px;
}


.part1_left_side_card{
    margin-top: 50px;
    width: 832px;
    height: 185px;
    border-radius: 44px;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: -10px 10px 44px 0px rgba(52, 189, 227, 0.16);
    backdrop-filter: blur(6px);
}

.part1_left_side_card > p{
    padding: 32px 0 32px 38px;
    color: var(--part1-text-color);
    text-shadow: 0px 4px 29px rgba(255, 255, 255, 0.25);
    font-size: 42px;
    font-weight: 500;
    line-height: 170%;
}

.part1_left_side_card > p > span{
    display: block;
    color: var(--part1-text-color);
    font-size: 40px;
    font-weight: 500;
    line-height: 170%;
}

.part1_img{
    width: 1169px;
    height: 800px;
    border-radius: 44px;
    position: absolute;
    right: 0;
    z-index: -1;   
    margin-top: -62px;
}
 */ 
