.part_checkbox{
    margin-top: 200px;
}

.part_checkbox_h{
    display: flex;
    width: 1011px;
    height: 174px;
    flex-direction: column;
    justify-content: center;

    color: var(--header-color);
    text-align: center;
    text-shadow: 0px 0px 28px rgba(255, 255, 255, 0.48);
    font-family: Open Sans;
    font-size: 58px;
    font-weight: 800;
    line-height: 150%; 
    letter-spacing: 5.8px;
    text-transform: uppercase;
    margin: 0 auto;

}

.part_checkbox_p{
    width: 790px;

    color: #646464;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    margin: 21px auto 91px;
}

.checkbox{
    width: 897px;
    height: 832px;

    border-radius: 15px 0px 0px 15px;
    border: 1px solid var(--header-color);
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0px 0px 12px 2px rgba(52, 189, 227, 0.32) inset;
    backdrop-filter: blur(6px);
    margin: 0 auto;
    overflow-y: auto;
}

.checkbox ul{
    margin-top: 20px;
}

.checkbox li{
    display: flex;
}

.checkbox_input{
    width: 36px;
    height: 36px;

    border-radius: 8px;
    border: 1px solid #056A86;
    margin: auto 0;
    margin-left: 30px;
}
.checkbox_label{
    width: 755px;
    height: 85px;

    border-radius: 15px;
    background: rgba(255, 255, 255, 0.74);
    box-shadow: 4px 4px 11px 0px rgba(52, 189, 227, 0.24);
    backdrop-filter: blur(6px);
    margin-bottom: 16px;
    margin-left: 24px;
}
.checkbox_label label{
    color: #056A86;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 150%; 
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-left: 40px;
}

.part4_button{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 88px;
}

.order{
    width: 301px;
    height: 73px;
    border-radius: 36.5px;
    border: 1px solid var(--button-color);
    box-shadow: -4px 5px 21px 0px rgba(0, 0, 0, 0.15);
    color: var(--button-color);
    font-family: Open Sans;
    font-size: 29px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.checkbox::-webkit-scrollbar {
    width: 8px;
}

.checkbox::-webkit-scrollbar-track {
    width: 2px;
    height: 792px;

    border-radius: 13px;
    background: #AECAD2;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.28) inset;
  }
  
.checkbox::-webkit-scrollbar-thumb {
    width: 8px;
    height: 404px;
    border-radius: 16px;
    background: linear-gradient(99deg, #57E8F6 28.39%, #12ADDC 74.04%);
    box-shadow: 0.5px 0px 3px 0px rgba(0, 88, 137, 0.45);
}

.checkbox_background_img{
    position: absolute;
    z-index: -10;
    top: 4199px;
    left: 1619px;
}
@media only screen and (max-width: 500px) {
    .part_checkbox{
        margin-top: 100px;
        width: 400px;
        margin-left: 50px;
    }
    
    .part_checkbox_h{
        width: 400px;
        height: 100px;

        font-size: 28px;
        font-weight: 800;
        line-height: 130%; 
        letter-spacing: 3px;
        text-transform: uppercase; 
    }
    
    .part_checkbox_p{
        width: 400px;

        font-size: 15px;
        line-height: 130%; 
        margin: 21px auto 51px;
    }
    
    .checkbox{
        width: 400px;
        height: 390px;
    }
    
    .checkbox ul{
        margin-top: 10px;
    }
    
    .checkbox_input{
        width: 26px;
        height: 26px;
    
        margin-left: 20px;
    }
    .checkbox_label{
        width: 499px;
        height: 45px;
    
        margin-bottom: 16px;
        margin-left: 14px;
    }
    .checkbox_label label{
        font-size: 15px;       
        line-height: 130%; 
        padding-top: 13px;
        padding-left: 20px;
    }
    
    .part4_button{
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-top: 48px;
    }

    .part4_button .book_free_call, .order{
        width: 170px;
        height: 50px;
        border-radius: 30px;
        font-size: 15px;

    }   
}

