.part_checkbox{
    margin-top: 200px;
}

.part_checkbox_h{
    display: flex;
    width: 1011px;
    height: 174px;
    flex-direction: column;
    justify-content: center;

    color: var(--header-color);
    text-align: center;
    text-shadow: 0px 0px 28px rgba(255, 255, 255, 0.48);
    font-family: Open Sans;
    font-size: 58px;
    font-weight: 800;
    line-height: 150%; 
    letter-spacing: 5.8px;
    text-transform: uppercase;
    margin: 0 auto;

}

.part_checkbox_p{
    width: 790px;

    color: #646464;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    margin: 21px auto 91px;
}

.checkbox_cont{
    width: 897px;
    height: 832px;
    margin: 0 auto;
    padding: 20px 0;
    padding-right: 2px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid var(--header-color);
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0px 0px 12px 2px rgba(52, 189, 227, 0.32) inset;
    backdrop-filter: blur(6px);
}

.checkbox{  
    width: 875px;
    height: 792px;
    overflow-y: auto;
    margin: 0 auto; 
    display: flex;
}

.checkbox ul{
    margin-top: 20px;
}

.checkbox li{
    display: flex;
    width: min-content;
}

.checkbox_input{
    width: 36px;
    height: 36px;

    border-radius: 8px;
    border: 1px solid #056A86;
    margin: auto 0;
    margin-left: 30px;
}
.checkbox_label{
    width: 755px;
    height: 85px;

    border-radius: 15px;
    background: rgba(255, 255, 255, 0.74);
    box-shadow: 4px 4px 11px 0px rgba(52, 189, 227, 0.24);
    backdrop-filter: blur(6px);
    margin-bottom: 16px;
    margin-left: 24px;
}
.checkbox_label label{
    color: #056A86;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 150%; 
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-left: 40px;
}

.part4_button{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 88px;
}

.order{
    width: 301px;
    height: 73px;
    border-radius: 36.5px;
    border: 1px solid var(--button-color);
    box-shadow: -4px 5px 21px 0px rgba(0, 0, 0, 0.15);
    color: var(--button-color);
    font-family: Open Sans;
    font-size: 29px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.checkbox::-webkit-scrollbar {
    width: 8px; 
    height: 404px;
}

.checkbox::-webkit-scrollbar-track {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.28) inset;
    background: #AECAD2;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    background-clip: padding-box; 
    
  }
  
.checkbox::-webkit-scrollbar-thumb {
    background: linear-gradient(99deg, #57E8F6 28.39%, #12ADDC 74.04%);
    border-radius: 16px;
}



.checkbox_background_img{
    position: absolute;
    z-index: -10;
    top: 4199px;
    left: 1619px;
}

@media only screen and (max-width: 1160px) {
    /* .part_checkbox{
        margin-top: 200px;
    } */
    
    .part_checkbox_h{
        /* display: flex; */
        width: 800px;
        height: 174px;
        /* flex-direction: column;
        justify-content: center; */
    
        /* color: var(--header-color);
        text-align: center;
        text-shadow: 0px 0px 28px rgba(255, 255, 255, 0.48);
        font-family: Open Sans; */
        font-size: 35px;
        /* font-weight: 800;
        line-height: 150%;  */
        letter-spacing: 2px;
        /* text-transform: uppercase;
        margin: 0 auto; */
    
    }
    
    .part_checkbox_p{
        width: 590px;
        /* color: #646464;
        text-align: center;
        font-family: Open Sans; */
        font-size: 18px;
        /* font-style: normal;
        font-weight: 600;
        line-height: 150%; 
        margin: 21px auto 91px; */
    }
    
    .checkbox_cont{
        /* width: 897px; */
        /* height: 832px; */
        width: 727px;
        /* height: 832px; */
        padding: 20px 0;
        padding-right: 2px;
    }
    
    .checkbox{  
        width: 705px;
        height: 792px;
    }
    
    /* .checkbox ul{
        margin-top: 20px;
    }
    
    .checkbox li{
        display: flex;
        width: min-content;
    } */
    
    .checkbox_input{
        width: 26px;
        height: 26px;
        margin-left: 20px;
    }

    .checkbox_label{
        width: 613px;
        /* height: 85px;   */
        /* border-radius: 15px; */
        /* margin-bottom: 16px; */
        /* margin-left: 24px; */
    }
    .checkbox_label label{
        /* font-size: 25px; */
        /* padding-top: 23px; */
        /* padding-left: 40px; */
    }
    
    .part4_button{
        gap: 22px;
        /* margin-top: 88px; */
    }

    .part4_button .book_free_call{
        width: 160px;
        font-size: 13px;
        height: 50px;

    }
    
    .order{
        width: 150px;
        height: 73px;
        border-radius: 36.5px;
        font-size: 15px;
        height: 50px;
    }

    .checkbox_background_img{
        position: absolute;
        z-index: -10;
        top: 4199px;
        left: 1619px;
    }
}

@media only screen and (max-width: 800px) {
    .part_checkbox_h{
        width: 500px;
        font-size: 25px;
        letter-spacing: 1px;
    }
    
    .part_checkbox_p{
        width: 390px;
        font-size: 15px;
    }
    
    .checkbox_cont{
        width: 427px;
        padding-right: 2px;
    }
    
    .checkbox{  
        width: 405px;
        height: 792px;
    }
    
    .checkbox_input{
        width: 20px;
        height: 20px;
        margin-left: 15px;
    }

    .checkbox_label{
        width: 333px;
        height: 55px;  
        margin-bottom: 16px;
        margin-left: 14px;
    }
    .checkbox_label label{
        font-size: 18px;
        padding-top: 12px;
        padding-left: 20px;
    }
    
    .part4_button{
        gap: 22px;
    }

    .part4_button .book_free_call{
        width: 160px;
        font-size: 13px;
        height: 50px;

    }
    
    .order{
        width: 150px;
        height: 73px;
        border-radius: 36.5px;
        font-size: 15px;
        height: 50px;
    }

    .checkbox_background_img{
        position: absolute;
        z-index: -10;
        top: 4199px;
        left: 1619px;
    }
}

@media only screen and (max-width: 450px) {
    
    .part_checkbox_h{
        width: 280px;
        font-size: 20px;
        letter-spacing: 1px;
    }
    
    .part_checkbox_p{
        width: 280px;
        font-size: 15px;
    }
    
    .checkbox_cont{
        height: 632px;
        width: 280px;
        padding-right: 2px;
    }
    
    .checkbox{  
        width: 248px;
        height: 592px;
    }
    
    .checkbox_input{
        width: 20px;
        height: 20px;
        margin-left: 15px;
    }

    .checkbox_label{
        width: 180px;
        height: 55px;  
        margin-bottom: 16px;
        margin-left: 14px;
    }
    .checkbox_label label{
        font-size: 15px;
        padding-top: 12px;
        padding-left: 20px;
    }

    .checkbox_background_img{
        position: absolute;
        z-index: -10;
        top: 4199px;
        left: 1619px;
    }
}



