.part_program{
    margin-top: 320px;
}

.part_program > h2{
    width: 1563px;
    color: #0085AE;
    text-align: center;
    text-shadow: 0px 0px 28px rgba(255, 255, 255, 0.48);
    font-family: Open Sans;
    font-size: 44px;
    font-weight: 800;
    line-height: 150%; 
    letter-spacing: 3.96px;
    text-transform: uppercase;
    margin: 0 auto;
}

.part_program > p{
    width: 716px;
    color: #646464;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 150%;
    margin: 72px 0 87px 585px;
}

.part_program_info{
    margin: 50px 0;
    width:min-content;
}

.part_program_info_header{
    border-radius: 0 100px 100px 0;
    background: linear-gradient(162deg, #D7FBFF 28.4%, #7BE0FF 91.32%);
    
    box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(6px);
    
    display: flex;
    width:fit-content;
}

.part_program_info_header_img{
    margin: auto;
    padding: 0 40px;
    margin-left: 50px;
}

.part_program_info_header > img{
    width: 20px;
    height: 10px;
}

.part_program_info_header > h3{
    width:max-content;
    color: #005889;
    font-size: 40px;
    font-weight: 700;
    line-height: var(--line-height); 
    margin-left: 100px;
    padding: 25px 0; 
}

.part_program_info_hiden{
    border-radius: 0px 0px 86px 0px;
    background: #C7F6FF;
    box-shadow: -4px -4px 16px 0px rgba(0, 133, 174, 0.19) inset;
    margin-top: -40px;
}

.part_program_info_hiden > p{
    padding-left: 100px;
    padding-right: 60px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 150%; 
}

.part_program_info_hiden p:first-of-type{
    padding-top: 90px;
}

.part_program_info_hiden p:last-of-type{
    padding-bottom: 30px;
    padding-top: 18px;
}

.part_program_info_hiden > button{
    margin-left: 100px;
    margin-bottom: 50px;
}


/*
@media only screen and (max-width: 991px) {  
    .part5 > h2{
        width: fit-content;
        font-size: 30px;
    }
    .part5 > p{
        font-size: 25px;
    }
    .part5_info_header > h3{
        font-size: 30px;
        padding: 15px 0; 
        
    }
} */
