.part_start{
    margin-top: 165px;
    position: relative;
}

.part_start_header h2{
    display: flex;
    max-width: 793px;
    flex-direction: column;
    justify-content: center;
    color: var(--header-color);
    text-align: center;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px; 
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0 auto;
}  

.part_start_header h3{
    display: flex;
    max-width: 697px;
    height: 90px;
    flex-direction: column;
    justify-content: center;
    color: var(--header-color);
    text-align: center;
    font-family: Open Sans;
    font-size: 60px;
    font-weight: 800;
    line-height: var(--line-height);
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 25px;
}


.part_start_step{
    max-width: 290px;
} 

.number{
    width: 124px;
    height: 124px;
    background-color: var(--background);
    filter: drop-shadow(-2px 8px 27px rgba(0, 88, 137, 0.15));
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
}

.number h2{
    color: var(--organ-h); 
    font-size: 42px;
    font-weight: 700;
}

.part_start_step p:first-of-type{
    color: var(--header-color);
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: var(--line-height); 
    margin-bottom: 20px;
}

.part_start_step p:last-of-type{
    max-width: 290px;
    color: var(--text-color);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: var(--line-height); 
}

.part_start_img_wrapper{
    position: relative;
    max-width: 1920px;
    height: 840px;
}

.part_start_img{
    width: 100%;
    stroke-width: 3px;
    stroke: rgba(0, 88, 137, 0.11);
    position: absolute; 
    z-index: -1;
    top: -270px;
}
.steps{
    display: flex;
}

.step1, .step2, .step3, .step4, .step5{
    position: absolute;
    width: 100%;
}

.step1{
    right: 1530px;
    top: 227.5px;
}

.step2{
    right: 1194px;
    top: 48px;

}

.step3{
    right: 830px;
    top: 268px;

}

.step4{
    right: 438px;
    top: 296px;

}

.step5{
    right: 113px;
    top: 23px;
}

.part_start > button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 129px;
    gap: 10px;
    border-radius: 36.5px;
    background: var(--button-color);
    box-shadow: -4px 5px 21px 0px rgba(0, 0, 0, 0.15);
    color: var(--text-with-background);
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin: 0 auto; 
}

@media only screen and (max-width: 1870px) {  
    .part_start_step{
        width: 210px;
    } 
    .step1{
        left: 15px;
        top: 277px;
    }
    
    .step2{
        left: 280px;
        top: 48px;   
    }
    
    .step3{
        right: 970px;
        top: 80px; 
    }
    
    .step4{
        left: 988px;
        top: 286px; 
    }
    
    .step5{
        right: 153px;
        top: 43px;
    }
}

@media only screen and (max-width: 1720px) {  
    .part_start_step{
        width: 290px;
    } 

    .part_start_img{
        display: none;
    }

    .steps{
        display: flex;
        flex-direction: column;
        gap: 70px;
        margin: 100px auto;
        width: 290px;
    }

    .step1, .step2, .step3, .step4, .step5{
        position:unset;
    }  

    .part_start_img_wrapper{
        position: unset;
        height: max-content;
    }

    .part_start > button{
        margin-top: 0px;
    }
}

@media only screen and (max-width: 1200px) { 
    
    .part_start_header h2{
        font-size: 30px;
        line-height: 40px; 
        letter-spacing: 2px;
    }  
    
    .part_start_header h3{
        font-size: 40px;
        line-height: 120%;
        letter-spacing: 4px;
    }

    .part_start > button{
        padding: 17px 100px;
        font-size: 19px;
    }
}

@media only screen and (max-width: 992px) { 
    
    .part_start_header h2{
        /* max-width: 793px; */
        /* height: 20px; */
        font-size: 25px;
        /* line-height: 40px;  */
        letter-spacing: 1px;
    }  
    
    .part_start_header h3{
        /* max-width: 697px; */
        /* height: 90px; */
        font-size: 30px;
        /* line-height: 120%; */
        letter-spacing: 2px;
        margin-top: 15px;
    }


    .part_start_step{
        max-width: 220px;
    } 

    .steps{
        width: 220px;
    }

    .number{
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    .number h2{
        font-size: 32px;
    }

    .part_start_step p:first-of-type{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .part_start_step p:last-of-type{
        max-width: 220px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 576px) { 

    .part_start{
        margin-top: 65px;
    }

    .part_start_header h2{
        font-size: 21px;
        letter-spacing: 0px;
    }  
    
    .part_start_header h3{
        font-size: 23px;
        letter-spacing: 1px;
        margin-top: 10px;
    }


    .part_start_step{
        max-width: 220px;
    } 

    .steps{
        width: 220px;
        margin: 50px auto;
    }

    .number{
        width: 90px;
        height: 90px;
        margin-bottom: 15px;
    }

    .number h2{
        font-size: 32px;
    }

    .part_start_step p:first-of-type{
        font-size: 16px;
        margin-bottom: 10px;
    }

    .part_start_step p:last-of-type{
        max-width: 220px;
        font-size: 15px;
    }

    .part_start > button{
        padding: 15px 10px;
        font-size: 15px;
    }

}




