/* .part7{
    margin: 0 auto;
    margin-top: 271px;
    width: 917px;
    height: 891px;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: -10px 10px 44px 0px rgba(52, 189, 227, 0.16);
    backdrop-filter: blur(6px);
}

.part7 > h2{
    display: flex;
    width: 605px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    color: var(--header-color);
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    line-height: var(--line-height);
    letter-spacing: 5.7px;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 60px;
}

.part7 > p{
    width: 640px;
    height: 76px;
    color: var(--text-color);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: var(--line-height); 
    margin: 27px auto;
}

.part7 > p > span{
    color: #025C75;
    font-size: 26px;
    font-weight: 600;
    line-height: var(--line-height);
}

.part7 > form{
    display: flex;
    flex-direction: column;
}

.part7 > form > label{
    color: #025C75;
    font-size: 22px;
    font-weight: 600;
    margin-left: 101px;
}

.part7 > form > input, select{
    width: 715px;
    height: 47px;
    border-radius: 10px;
    border: 1px solid #046A86;
    background: var(--background);
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 18px;
    padding-left: 5px;
}

.part7 > form > button{
    width: 420px;
    height: 73px;
    border-radius: 36.5px;
    background: var(--button-color);
    box-shadow: -4px 5px 21px 0px rgba(0, 0, 0, 0.15);
    color: var(--text-with-background);
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin: 0 auto;
    margin-top: 19px;
} */
