.part_disease{
    margin-top: 242px;
    width: 100%;
    position: relative;
}

.part_disease h2{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: var(--header-color);
    text-shadow: 0px 0px 28px rgba(255, 255, 255, 0.48);
    font-family: Open Sans;
    font-size: 39px;
    font-weight: 800;
    line-height: 150%; 
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 136px;
}

.part_disease_organ1_wrapper{
    position: relative;
    max-width: 934px;
    margin: 0 auto;
}

.part_disease_organ1_cont{
    border-radius: 44px;
    width: 100%;
    height: 114px;
    border: 3px solid #57E8F6;
    background-color: var(--background);
    box-shadow: -10px 10px 44px 0px rgba(52, 189, 227, 0.16);
    backdrop-filter: blur(6px);
}


.part_disease_organ1_cont p{
    color: var(--organ-h);
    display: flex;
    justify-content: center;
    padding-top: 45px;
    font-family: 'Open Sans'; 
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 2px; 
} 

.organ1_img{
    max-width: 160px;
    max-height: 160px;
    object-fit:fill;
    position: absolute;
    z-index: 3;
    left: -29px;
    bottom: 0px;
}

 .dashed1, .dashed2, .dashed3{
    stroke-width: 1.5px;
    position: absolute;
    z-index: -5;
}

.dashed1{
    max-width: 368px;
    height: 224px;
    left: -232px;
    top: 61px;
} 

 .dashed2{
    max-width: 298.989px;
    height: 231px;  
    right: -275px;
    top: 61px;
}

.dashed3{
    max-width: 86px;
    height: 396px;
    left: 367px;
    top: 114px;
} 

.part_disease_organ2_cont, .part_disease_organ3_cont, .part_disease_organ4_cont{
    border-radius: 30px;
    background: var(--background);
    box-shadow: -10px 10px 44px 0px rgba(52, 189, 227, 0.16);
    backdrop-filter: blur(6px);
    height: 114px;
}

.part_disease_organ{
    display: flex;
    justify-content: center;
    margin-left: 90px;
    gap: 324px;
    margin-top: 110px;
}

.part_disease_organ2_wrapper{
    position: relative;
}

.part_disease_organ2_cont{
    width: 440px;
    height: 114px;
}

.part_disease_organ2_cont p{
    color: var(--organ-h);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    font-family: 'Open Sans'; 
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.part_disease_organ2_cont p span{
    font-size: 12px;
    letter-spacing: 1px;
}

.organ2_img{
    max-width: 87px;
    max-height: 87px;
    position: absolute;
    z-index: 3;
    top: -45px;
    left: -43px;
}

.dot1, .dot2, .dot3{
    width: 13px;
    height: 13px;
    position: absolute;
    z-index: 5;
}

.dot1{
    top: 51px;
    left: -8px;
}

.part_disease_organ3_wrapper{
    position: relative;
}

.part_disease_organ3_cont{
    width: 478px;
    height: 114px;
}

.part_disease_organ3_cont p{
    color: var(--organ-h);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    font-family: 'Open Sans'; 
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.organ3_img{
    max-width: 87px;
    max-height: 87px;
    position: absolute;
    z-index: 3;
    top: -45px;
    left: -43px;
}

.dot2{
    top: 59px;
    right: -5px;
}

.part_disease_organ4_wrapper{
    max-width: 277px;
    margin: 0 auto;  
    position: relative;
}


.part_disease_organ4_cont{
    width: 100%;
    height: 114px;
    margin-top: 101px; 
    margin-left: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part_disease_organ4_cont p{
    color: var(--organ-h);
    font-family: 'Open Sans'; 
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.organ4_img{
    width: 87px;
    height: 87px;
    position: absolute;
    z-index: 3;
    top: -45px;
    left: 77px;
}

.dot3{
    top: 61px;
    left: 105px;
}

.disease_background_img{
    position: absolute;
    z-index: -10;
    top: -87px;
    left: 0;
}



 @media only screen and (max-width: 1610px) {   
    .organ1_img{
        max-width: 140px;
        max-height: 140px;
        bottom: 30px;
    }
    

    .dashed1, .dashed2, .dashed3, .dot1, .dot2, .dot3{
        display: none;
    }

    .part_disease_organ{
        flex-direction: column;
        align-items: center;
        gap: 100px;
        margin-left: 0px;
    }

    .part_disease_organ4_cont{
        margin-top: 100px; 
        margin-left: 0px;
    }

    .organ4_img{
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: 3;
        top: -45px;
        left: -40px;
    }

 }

 @media only screen and (max-width: 992px) {
    .part_disease_content{
        padding-left: 60px;
    }

    .part_disease h2{
        font-size: 27px;
        letter-spacing: 2px;
    }
    
    .part_disease_organ1_cont, .part_disease_organ2_cont, .part_disease_organ3_cont, .part_disease_organ4_cont{
        height: 80px;
    }

    .part_disease_organ1_wrapper{
        max-width: 400px;
    }

    .part_disease_organ2_cont, .part_disease_organ3_cont, .part_disease_organ4_cont{
        max-width: 310px;
    }
    
    
    .part_disease_organ1_cont p{
        padding-top: 25px;
        font-size: 20px;
        letter-spacing: 1px; 
    } 
    
    
    .part_disease_organ2_cont p{
        padding-top: 20px;
        font-size: 15px;
        letter-spacing: 1px;
    }
    
    .part_disease_organ2_cont p span{
        font-size: 10px;
        letter-spacing: 0px;
    }
    
    .part_disease_organ3_cont p{
        padding-top: 30px;
        font-size: 15px;
        letter-spacing: 1px;
    } 
    .part_disease_organ4_cont p{
        font-size: 15px;
        letter-spacing: 1px;
    }
 }

 @media only screen and (max-width: 576px) {
    .part_disease{
        margin-top: 60px;
    }
    .part_disease h2{
        font-size: 20px;
        letter-spacing: 0px;
    }  
    .organ1_img{
        max-width: 60px;
        max-height: 60px;
        bottom: 40px;
    }

    .part_disease h2{
        margin-bottom: 60px;
    }

    .organ2_img, .organ3_img{
        max-width: 50px;
        max-height: 50px;
        left: -20px;
        top: -20px;
    }

    .part_disease_organ4_cont{
        margin-top: 50px; 
        margin-left: 0px;
    }

    .part_disease_organ4_wrapper{
        display: flex;
        justify-content: center;
        max-width: 230px;
    }

    .organ4_img{
        max-width: 50px;
        max-height: 50px;
        top: 30px;
        left: -20px;
    }

    .part_disease_organ2_cont, .part_disease_organ3_cont, .part_disease_organ4_cont{
        width: 230px;
        height: 110px;
    }

    .part_disease_organ2_cont p, .part_disease_organ3_cont p, .part_disease_organ4_cont p{
        width: min-content;
        margin: auto;
    }

    .part_disease_organ{
        gap: 50px;
        margin-top: 50px;
    }

    .disease_background_img{
        display: none;
 }
}